<article class="travel-index">
  <section class="clearfix">
    <h2><a href="/amsterdam">Amsterdam</a></h2>
    <%= image_tag "amsterdam-thumbnail.jpg", alt: "Grafitti in Amsterdam" %>
    <p>Brooklyn four loko pickled, try-hard ennui selvage selfies YOLO blog food truck dreamcatcher stumptown cray fixie mumblecore. Seitan beard Carles retro.</p>
  </section>
  <section class="clearfix">
    <h2><a href="/provence">Provence</a></h2>
    <%= image_tag "provence-thumbnail.jpg", alt: "Grafitti in Amsterdam" %>
    <p>Artisan seitan keytar, cray Kickstarter Odd Future church-key ethnic wayfarers Brooklyn.</p>
  </section>
  <section class="clearfix">
    <h2><a href="/tasmania">Tasmania</a></h2>
    <%= image_tag "tasmania-thumbnail.jpg", alt: "Grafitti in Amsterdam" %>
    <p>Cliche keffiyeh kogi, High Life American Apparel Etsy Blue Bottle fap typewriter Tumblr dreamcatcher.</p>
  </section>
</article>
